input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* login */

.login-radio-btn{
    position: relative;
    top: 2px;
}

/* login end */
.alert {
    position: relative;
    padding: 0rem 1.25rem;
    margin-bottom: 0px !important; 
    border: 1px solid transparent;
    border-radius: 0px !important; 
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.error{
 color: red;   
}
.alert-dismissible .covid-alert-close {
    position: absolute;
    top: -15px;
    left: 0;
    padding: 10px 15px;
    color: inherit;
    font-size: 30px;
}
button.close.covid-alert-close:focus{
    outline: 0px;
}
.banner-bg {
    background-image: url(../images/banner-bg.png);
}
.header-bg-yellow{
    background-color: #ff9900;
}
.left-logo-positions {
    position: absolute;
    left: 15px;
    top: 3px;
    z-index: 9;
}
.right-logo-positions {
    position: absolute;
    right: 15px;
    top: 3px;
    z-index: 9;
}
.header-bg{
    background: #dc3545;
}
.header-top-layer{
    background: -webkit-linear-gradient(45deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(135deg, #f95657 90%, #fbfbfb 90%);
    background: -o-linear-gradient(45deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(135deg, #f95657 90%, #fbfbfb 90%);
    background: -moz-linear-gradient(45deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(135deg, #f95657 90%, #fbfbfb 90%);
    background: linear-gradient(45deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(135deg, #f95657 90%, #fbfbfb 90%);
    height: 70px;
    line-height: 30px;
}
.header-bottom-layer{
    background: -webkit-linear-gradient(135deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(45deg, #f95657 90%, #fbfbfb 90%);
    background: -o-linear-gradient(135deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(45deg, #f95657 90%, #fbfbfb 90%);
    background: -moz-linear-gradient(135deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(45deg, #f95657 90%, #fbfbfb 90%);
    background: linear-gradient(135deg, #fbfbfb 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(45deg, #f95657 90%, #fbfbfb 90%);
    height: 70px;
    line-height: 30px;
}
.dropdown-toggle.user-dropdown-toggle:after{
    border-top: 0;
    border-left: 0;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
    height: 8px;
    display: inline-block;
    pointer-events: none;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 8px;
    vertical-align: 2px;
}
.sticky.is-sticky {
    position: fixed;
    left: 15px;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.logo-positions{
    position: relative;
    top: 17px;
}
.icons-in-circle{
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 20px;
}
.location-clr, .mbn-clr{
    color: #050a30;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.donors-heading-lg-left, .donors-heading-lg-right {
    position: absolute;
    left: 35px;
    top: 25px;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: inherit;
    text-transform: uppercase;
    letter-spacing: 0px;
    background: #fff;
    padding: 10px;
    color: #050a30;
    border-radius: 30px;
}
p{
    font-size: 16px;
    margin-bottom: 20px;
}
canvas {
    cursor: crosshair;
    display: block;
    position: absolute;
    top: 115%;
    height: 70%;
    width: 100%;
    z-index: 9;
}
.submenu.l-menu {
    min-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
}
/*.submenu li{
    padding: 8px 0px;
}*/
.submenu.s-row {
    min-width: 250px;
}
.submenu li a {
    font-weight: bold;
    color: #2f367e;
    padding: 8px 18px;
    line-height: 20px;
    text-transform: none;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
.submenu li:hover a {
    color: #b93437;
    background-color: #fbe4e5!important;
}
.dropdownn:hover .submenu {
    display: block;
    padding: 10px;
    border-radius: 0px;
    border: 0px;
    background-color: #fff;
}
.dropdownn a#navbardrop:hover {
    color: #fff !important;
}
.main-heading{
    width: 100%;
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
    margin: auto;
    background: #ff9900;
    height: 1px;
    margin-top: 110px;
    margin-bottom: 55px;
}
.main-heading div{
    border-bottom: 7px solid #ff9900;
    display: inline;
    position: relative;
    top: -64px;
    padding: 0px 30px 10px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.nav-link{
    color: #fff;
}
.date-icon{
    font-size: 25px;
    border: 3px solid #ff9900;
    padding: 12px 14px;
    border-radius: 24px;
    margin-right: 15px;
}
.location-point-icon{
    font-size: 25px;
    border: 3px solid #ff9900;
    padding: 12px 14px;
    border-radius: 24px;
    margin-right: 15px;
}
.phone-iconn{
    border-radius: 20px;
    border: 1px solid;
    padding: 5px;
    font-size: 10px;
    margin-right: 5px;
}

.inner-wrapper {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.banner{
    border: 1px solid #000;
    box-shadow: 0px 1px 5px 0px rgb(221 221 221);
    width: 100%;
}
.violet-gradient-bg{
    background-color: #0f1e4e;
}

.carousel-indicators .active {
    background-color: #fff;
}
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50% !important;
    margin-right: 4px;
    margin-left: 4px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
}
/* header */

.phone-iconn {
    border-radius: 20px;
    border: 1px solid;
    padding: 5px;
    font-size: 10px;
    margin-right: 5px;
    color: #050a30;
}

/* home banners */

.banner-carousel-indicators {
    bottom: -22px !important;
}

.carousel-indicators li {
    background-color: rgba(255,255,255,.8);
}

.banner-carousel-prev, .banner-carousel-next {
    position: absolute;
    top: 83%;
    width: auto;
    background: #fff;
    padding: 10px;
    opacity: .8;
}

.banner-carousel-prev i, .banner-carousel-next i{
    color: #050a30;
    font-size: 30px;
}

.banner-carousel-prev {
    left: auto !important;
    right: 100px !important;
}

.banner-carousel-next {
    left: auto !important;
    right: 50px !important;
}

/* Donorss Section */

.donorss img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    width: 100%;
}
.donor-namee{
    font-size: 16px;
    color: #fff;
}
.donor-rolee{
    color: #fff;
    font-size: 14px;
}
.donorss-indicators {
    bottom: -50px;
}
ol.carousel-indicators.donorss-indicators .active {
    background-color: #fff;
}
ol.carousel-indicators.donorss-indicators li {
    background-color: rgba(255, 255, 2555, .8);
}

.message-carousel-prev, .message-carousel-next {
    position: absolute;
    top: 50%;
    width: auto;
    opacity: 1;
}

.message-carousel-prev i, .message-carousel-next i{
    color: #050a30;
    font-size: 30px;
}

.message-carousel-prev {
    left: -70px !important;
    right: auto !important;
}

.message-carousel-next {
    left: auto !important;
    right: -70px !important;
}

.messages-block{
    background-color: #050a30;
    padding: 15px 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 10px;
}

.border-violet {
    border: 2px #e4c0ff solid;
}
.border-green{
    border: 2px #4fefcf solid;
}
.border-blue{
    border: 2px #4c97b2 solid;
}
.border-light-grey{
    border: 2px #f3f3f3 solid;
}
.border-warning{
    border: 2px #f0a309 solid;
}
.border-light-red{
    border: 2px #da605f solid;
}
.border-light-purple {
    border: 2px #ef73e6 solid;
}
.border-skyblue {
    border: 2px #10c9ff solid;
}

/* Our Leadership Team */

.leader-block, .invitees-block, .donors-block {
    padding-top: 10px;
    padding-bottom: 10px;
}
.leader-block:hover, .invitees-block:hover, .donors-block:hover{
    /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;*/
    border-radius: 10px;
    /*background-color: #fff;*/
    cursor: pointer;
}
.leader-block img, .invitees-block img, .donors-block img{
    width: 190px;
    height: 190px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}
.leader-name, .invitee-name, .donor-name{
    color: #524d4d;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    text-decoration: none !important;
    word-break: break-word;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    padding: 0px 10px;
}
.member-role{
    font-size: 14px !important;
    color: #f55825;
    font-weight: bold;
    text-align: center;
}
.leader-designation, .invitee-designation, .donor-designation{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none !important;
    padding: 0px 10px;
    font-size: 14px !important;
    color: #f55825;
    font-weight: bold;
}
.leadership-nav-item {
    font-size: 18px;
    font-weight: 600;
}
.leadership-nav-link{
    cursor: pointer;
    border-bottom: 1px solid;
    color: #384555;
}
.leadership-nav-item a{
    color: #384555;
}
.leadership-nav-item a span{
    border-bottom: 1px solid;
    cursor: pointer;
}
.leadership-nav-item a span:hover{
    color: #f55825 !important;
}
.leadership_active_tab_btn {
    color: #f55825 !important;
    font-weight: 600 !important; 
}
.invitees-nav-item {
    font-size: 18px;
    font-weight: 600;
}
.invitees-nav-link{
    cursor: pointer;
    border-bottom: 1px solid;
    color: #384555;
}
.invitees-nav-item a{
    color: #384555;
}
.invitees-nav-item a span{
    border-bottom: 1px solid;
    cursor: pointer;
}
.invitees-nav-item a span:hover{
    color: #f55825 !important;
}
.invitees_active_tab_btn {
    color: #f55825 !important;
     font-weight: 600 !important; 
}
.donors-nav-item {
    font-size: 18px;
    font-weight: 600;
}
.donors-nav-link{
    cursor: pointer;
    border-bottom: 1px solid;
    color: #384555;
}
.donors-nav-item a{
    color: #384555;
}
.donors-nav-item a span{
    border-bottom: 1px solid;
    cursor: pointer;
}
.donors-nav-item a span:hover{
    color: #f55825 !important;
}
.donors_active_tab_btn {
    color: #f55825 !important;
     font-weight: 600 !important; 
}
.register-today-btn{
    border-radius: 80px;
    color: #050A30 !important;
    background: #ff9900;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px 60px;
    z-index: 99 !important;
}
a.btn.register-today-btn{
    outline: 0;
    box-shadow: none;
}
.social-media-icons{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
.social-media-icons li{
    margin: 0px 5px;
    position: relative;
    z-index: 9;
}
.social-media-icons li a{
    width: 31px;
    height: 17px;
    line-height: 17px;
    background-color: #fff;
    display: block;
    font-size: 15px;
    text-align: center;
    transition: .5s;
}
.social-media-icons li a i{
    color: #fff;
}
.social-media-icons li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transform: rotate(60deg);
}
.social-media-icons li a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transform: rotate(-60deg);
}
.bg-light-grey{
    background: #f3f3f3;
}
.social-media-icons li:nth-child(1) a,
.social-media-icons li:nth-child(1) a:before,
.social-media-icons li:nth-child(1) a:after{
    background: #3b5998;
}
.social-media-icons li:nth-child(2) a,
.social-media-icons li:nth-child(2) a:before,
.social-media-icons li:nth-child(2) a:after{
    background: #ff9900;
}
p.description{
    min-height: 110px;
    max-height: 110px;
    overflow: hidden;
    font-size: 14px;
}
/*.social-media-icons li:nth-child(3) a,
.social-media-icons li:nth-child(3) a:before,
.social-media-icons li:nth-child(3) a:after{
    background: #007bb6;
}
.social-media-icons li:nth-child(4) a,
.social-media-icons li:nth-child(4) a:before,
.social-media-icons li:nth-child(4) a:after{
    background: #cb2027;
    }*/
/*.hexagon-block{
    position: relative;
    width: 125px;
    height: 150px;
}
.hexagon-shape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}*/
.messages-bg{
    /*background: -webkit-gradient(linear,left top,right top,from(#4b6cb7),to(#182848));
    background: linear-gradient(90deg,#4b6cb7,#182848);*/
    background-image: url(../images/messages-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*.msg_bg:after {
    position: absolute;
    content: "";
    background: url(../images/grediant-bg.png);
    height: 350px;
    width: 300px;
    top: 0;
    right: 1.7rem;
    max-height: 100%;
}*/
/*.borders{
    width: 210px;
    height: 210px;
    border-top: 3px solid #27a4b7;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    padding: 6px;
    border-radius: 100%;
    transform: rotate(35deg);
    margin-left: auto;
    margin-right: auto;
}*/
.borders img{
    width: 190px;
    height: 190px;
    /*transform: rotate(-35deg);*/
}

.counter-block{
    width: 18%;
    background: url(../images/small-dots.png) repeat center/auto;
    background-color: #dfe8ff;
    border-radius: 15px;
    color: #fff;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}
.counter-width{
    width: 86%;
    background-color: #2a3246;
    padding: 20px;
    border-radius: 0px 14px 14px 0px;
    position: relative;
    left: 34px;
}
.counter-card-bg1{
    background: linear-gradient(45deg,rgba(197,146,249,1) 0%,rgba(172,101,244,1) 100%);
}
.counter-card-bg2{
    background: linear-gradient(45deg,rgba(254,135,86,1) 0%,rgba(172,101,244,1) 100%);
}
.counter-card-bg3{
    background: linear-gradient(45deg,rgba(95,207,185,1) 0%,rgba(38,156,218,1) 100%);
}
.counter-card-bg4{
    background: linear-gradient(45deg,rgba(224,124,196,1) 0%,rgba(186,69,225,1) 100%);
}
.counter-card-bg5{
    background: linear-gradient(47deg,#f9b25e,#f72ba6);
}
.counter-block:after{#5ddd93 0,#27ae60
    content: '';
    position: absolute;
    top: 0;
    right: -11px;
    width: 4px;
    height: 100%;
    background-color: #fff;
}
/*.counter-block-5{
background-image: url(../images/counting-bg.png) !important;
}*/
.home-donor-name{
    background-color: #343a40 !important;
    min-height: 55px;
}

.event-details{
    cursor: pointer;
}
.event-schedule{
    display: none;
}
.event-details:hover .event-schedule{
    display: block;
}
.event-details:hover .event-time-n-kn{
    position: relative;
    top: 75px;
}
.ed-card .event-time{
    text-align: left;
    padding-left: 10px;
    margin-left: 15px;
}
.event-details .event-km{
    text-align: center;
}
.event-details:hover .event-date1{
    position: absolute;
    top: 118px;
    right: 15px;
    left: 15px;
    padding-bottom: 10px;
    background: #004fcd;
    z-index: 1;
}
.event-details .event-date1{
    background-color: #004fcd;
}
.ed-card1 .event-time-block{
    background-color: #004fcd;
}
.ed-card1 .event-time{
    border-right: 1px solid #505fd4 !important;
}
.ed-card1 .event-time{
    background-color: #0013a7;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}
.ed-card1 .event-km{
    background-color: #0013a7;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}

/* ed-card2 */

.event-details:hover .event-date2{
    position: absolute;
    top: 118px;
    right: 15px;
    left: 15px;
    padding-bottom: 10px;
    background: #29b445;
    z-index: 1;
}
.event-details .event-date2{
    background-color: #29b445;
}
.ed-card2 .event-time-block{
    background-color: #29b445;
}
.ed-card2 .event-time{
    border-right: 1px solid #22b94e !important;
}
.ed-card2 .event-time{
    background-color: #119d39;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}
.ed-card2 .event-km{
    background-color: #119d39;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}

/* ed-card3 */

.event-details:hover .event-date3{
    position: absolute;
    top: 118px;
    right: 15px;
    left: 15px;
    padding-bottom: 10px;
    background: #f3c50a;
    z-index: 1;
}
.event-details .event-date3{
    background-color: #f3c50a;
}
.ed-card3 .event-time-block{
    background-color: #f3c50a;
}
.ed-card3 .event-time{
    border-right: 1px solid #e9c530 !important;
}
.ed-card3 .event-time{
    background-color: #dab003;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}
.ed-card3 .event-km{
    background-color: #dab003;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}

/* ed-card4 */

.event-details:hover .event-date4{
    position: absolute;
    top: 118px;
    right: 15px;
    left: 15px;
    padding-bottom: 10px;
    background: #f30a67;
    z-index: 1;
}
.event-details .event-date4{
    background-color: #f30a67;
}
.ed-card4 .event-time-block{
    background-color: #f30a67;
}
.ed-card4 .event-time{
    border-right: 1px solid #f35393 !important;
}
.ed-card4 .event-time{
    background-color: #e11264;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}
.ed-card4 .event-km{
    background-color: #e11264;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}

/* ed-card5 */

.event-details:hover .event-date5{
    position: absolute;
    top: 118px;
    right: 15px;
    left: 15px;
    padding-bottom: 10px;
    background: #ca0af3;
    z-index: 1;
}
.event-details .event-date5{
    background-color: #ca0af3;
}
.ed-card5 .event-time-block{
    background-color: #ca0af3;
}
.ed-card5 .event-time{
    border-right: 1px solid #db33ff !important;
}
.ed-card5 .event-time{
    background-color: #8f00ad;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}
.ed-card5 .event-km{
    background-color: #8f00ad;
    padding: 20px 5px 20px 10px;
    color: #fff;
    height: 59px;
}


.border-radius-top-right-15{
    border-radius: 15px 15px 0px 0px;
}
.home-vedio-bg{
    background: url(../images/video-bg.png) repeat left top;
}
.video-icon-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/video-icon.png) no-repeat center center;
    z-index: 1;
    -webkit-transition: all 0.4s ease-out;
    -mz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

/* President Message */

.president-message-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}

/* Registration Page */

/*.table-responsive {
white-space: nowrap;
}*/
.flower-list {
    padding-left: 0px;
}
.flower-list li {
    background: url(../images/flower-icon.png) no-repeat left 3px;
    padding-left: 28px;
    padding-bottom: 10px;
    list-style: none;
}
th{
    font-size: 16px;
}
td{
    font-size: 15px;
}
.browse-button {
    background: url(../images/browse-icon.png) no-repeat scroll center center;
    cursor: pointer;
    min-height: 136px;
}

.browse {
    height: 100%;
    margin-left: 0;
    opacity: 0;
    min-height: 136px;
    cursor: pointer;
}
.browse-button label{
    position: relative;
    top: 20px;
    left: 20px;
}
#agrement-error{
    position: absolute;
    top: 26px;
}
.p-radio-btn {
    position: absolute;
    top: 2px;
}
.registration-captcha-block{
    border: #dbdbdb 1px solid;
    background-color: #fcfcfc;
    padding: 3px 5px 5px 10px;
}
.captcha-img{
    width: 120px;
    height: 33px;
}
.input-checkbox{
    position: absolute;
    top: 6px;
}
#payment_type-error{
    position: absolute;
    top: 22px;
    width: 300px;
}

/* Leadership Inner Pages */

.leadership-heading-bg{
    background-image: linear-gradient(to top, #e9e9e9, #fff);
}
.convention-leaders-bg{
    background-color: #eff8fb;
    border: 2px solid #e0eef2;
    padding: 5px;
    border-radius: 5px;
}
.convention-leaders-bg img{
    border: 2px solid #d4e9ef;
    border-radius: 5px !important;
}
.committee-categories-bg{
    background-color: #794d9a;
    border-radius: 10px;
    padding: 12px 20px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.committee-categories-bg:hover{
    background-color: #ff4b7a;
    color: #fff;
}
.committee-member img{
    /*background: linear-gradient(0.88turn, #ffffff, #dc3545 , #dc3545 );*/
    background-color: #e16773;
    padding: 3px;
    border-radius: 10px;
    /*width: 136px;
    height: 136px;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.committee-member-name{
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.committee-member-designation{
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}
.cc-icon{
    display: inline-block;
    vertical-align: middle;
}
.cc1-icon {
    background: url(../images/sprite1.png) no-repeat -37px -75px;
    width: 30px;
    height: 29px;
}
.cc2-icon {
    background: url(../images/sprite1.png) no-repeat -112px -75PX;
    width: 26px;
    height: 30px;
}
.cc3-icon {
    background: url(../images/sprite1.png) no-repeat -95px -35px;
    width: 31px;
    height: 29px;
}
.phone-stiff {
    background-color: #9c6ebe;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 8px 50px 8px 24px;
    color: #fff;
    display: inline-block;
    margin-top: 5px;
}
.mail{
    word-break: break-all;
}
.convention-cc-bg{
    background-image: url(../images/rangoli_flower_bg.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.committee-namee{
    color: #fff !important;
    text-align: center !important;
    padding-top: 10px;
    font-size: 15px !important;
    font-weight: normal !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gc-1{
    background: linear-gradient(to right, rgb(188, 78, 156), rgb(248, 7, 89));
}
.gc-2{
    background: linear-gradient(to right, rgb(0, 210, 255), rgb(146, 141, 171));
    /*background: linear-gradient(to right, rgb(131, 96, 195), rgb(46, 191, 145));*/
    /* background: linear-gradient(to right, rgb(106, 48, 147), rgb(160, 68, 255)); */
    /* background: linear-gradient(to right, rgb(252, 0, 255), rgb(0, 219, 222));*/
}
.gc-3{
    background: linear-gradient(to right, rgb(127, 0, 255), rgb(225, 0, 255));
}
.gc-4{
    background: linear-gradient(to right, rgb(78, 84, 200), rgb(143, 148, 251));
}
.gc-5{
    background: linear-gradient(to right, rgb(131, 96, 195), rgb(46, 191, 145));
}
.gc-6{
    background: linear-gradient(to right, rgb(106, 48, 147), rgb(160, 68, 255));
}
.gc-7{
    background: linear-gradient(to right, rgb(252, 0, 255), rgb(0, 219, 222));
}
.gc-8{
    background: linear-gradient(to right, rgb(67, 206, 162), rgb(24, 90, 157));
}
.gc-9{
    background: linear-gradient(to right, rgb(185, 147, 214), rgb(140, 166, 219));
}
.gc-10{
    background: linear-gradient(to right, rgb(248, 87, 166), rgb(255, 88, 88));
}
.gc-11{
    background: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
}
.gc-12{
    background: linear-gradient(to right, rgb(218, 34, 255), rgb(151, 51, 238));
}
.gc-13{
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}
.gc-14{
    background: linear-gradient(to right, rgb(255, 81, 47), rgb(221, 36, 118));
}
.gc-15{
    background: linear-gradient(to right, rgb(229, 93, 135), rgb(95, 195, 228));
}
.gc-16{
    background: linear-gradient(to right, rgb(204, 43, 94), rgb(117, 58, 136));
}

/* Programs Inner Pages */

.stock-investment-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.youth-activity-registration-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}

/* Events Innner Pages */

.events-tabslist li.rightborder2 {
    background: url(../images/double-curves1.png) scroll no-repeat right center;
    display: inline-block;
    padding: 0px 22px 0px 0px;
    float: left;
}
.events-tabslist li a {
    border: #ff981b 1px solid;
    color: #242424;
    padding: 12px 22px;
    display: block;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.events-tabslist li:hover a, .events-tabslist li.active a {
    background-color: #ff981b;
    color: #fff !important;
    border: 1px solid transparent;
    text-decoration: none;
}
.events-tabslist li.rightborder2:last-child {
    background: none!important;
    padding: 0px 0px 0px 0px;
}
.event_active_tab_btn {
    background: #ff981b;
    color: #fff !important;
}
.icon-positions{
    position: absolute;
    left: 45px;
}

/* Calender */

.border-left-2-violet{
    border-left: 2px solid #784d98;
}
.calender-events-schedule{
    height: 650px;
    overflow-y: auto;
}
.calender-events-schedule:hover{
    cursor: pointer;
}

.calender-events-schedule::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
}

/* Track */
.calender-events-schedule::-webkit-scrollbar-track {
    background: #f8e8e5; 
}

/* Handle */
.calender-events-schedule::-webkit-scrollbar-thumb {
    background: #ffaf02;
}

/* Handle on hover */
.calender-events-schedule::-webkit-scrollbar-thumb:hover {
    background: #ffae00;
}

/* Business Plan Competition */

.business-plan-competition-list li{
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.business-list li {
    background: url(../images/list-icon-sub.png) no-repeat scroll left 5px;
    padding-left: 25px;
    padding-bottom: 5px;
}
.business-plan-competition-terms-n-conditions{
    max-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 20px;
}
.business-plan-competition-terms-n-conditions::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
}

/* Track */
.business-plan-competition-terms-n-conditions::-webkit-scrollbar-track {
    background: #f8e8e5; 
}

/* Handle */
.business-plan-competition-terms-n-conditions::-webkit-scrollbar-thumb {
    background: #ffaf02;
}

/* Handle on hover */
.business-plan-competition-terms-n-conditions::-webkit-scrollbar-thumb:hover {
    background: #ffae00;
}

/*Business Interest-Group Committee */

.comlist1 .divv:nth-child(2n+1) {
    border-left: #d3acef 2px solid;
    border-right: #d3acef 2px solid;
    border-top: #e0ceee dashed 1px;
}
.comlist1 .divv .comlist2 .divv {
    border-right: #e0ceee dashed 1px;
    width: 33.3333%;
    border-top: none;
    border-left: none;
    border-bottom: #e0ceee dashed 1px;
}

/* Conevtion Details */

.convention-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.convention-details-list-li-arrow li {
    background: url(../images/list-icon-sub.png) no-repeat scroll left 5px;
    padding-left: 25px;
    padding-bottom: 5px;
}

/* Exhibits Page */

.exhibits-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.form-control.donatein {
    font-size: 28px;
    color: #f89912;
}
.donatein:focus{
    box-shadow: none;
}

/* Matrimony */

.matrimony-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.card-header a::after {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 52px;
    content: "";
    background-image: url(../images/plus.png);
}
.card-header a[aria-expanded="true"]::after {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 52px;
    content: "";
    background-image: url(../images/minus.png);
}

/* Miss NRIVA Mrs NRIVA Details */

.miss-nriva-mrs-nriva-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.miss-nriva-mrs-nriva-details-list-li-arrow li {
    background: url(../images/list-icon-sub.png) no-repeat scroll left 5px;
    padding-left: 25px;
    padding-bottom: 5px;
}

/* Shathamanam Bhavathi Reg */

.shathamanam-bhavathi-reg-terms-n-conditions{
    max-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 20px;
}

.shathamanam-bhavathi-reg-terms-n-conditions::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
}

/* Track */
.shathamanam-bhavathi-reg-terms-n-conditions::-webkit-scrollbar-track {
    background: #f8e8e5; 
}

/* Handle */
.shathamanam-bhavathi-reg-terms-n-conditions::-webkit-scrollbar-thumb {
    background: #ffaf02;
}

/* Handle on hover */
.shathamanam-bhavathi-reg-terms-n-conditions::-webkit-scrollbar-thumb:hover {
    background: #ffae00;
}
.input-group-addon {
    padding: 7px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    position: relative;
    top: -2px;
    height: 46px;
    left: 7px;
    margin-left: -3px;
    cursor: pointer;
}
.dob-input{
    width: 181px !important;
    height: 36px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.dob-input:focus{
    outline: none !important;
}

/* Youth Banquet Details */

.youth-banquet-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}

/* Venue Details */

.venue-btns{
    padding: 9px 10px 9px 15px;
    border: 2px solid #9371ad;
    border-radius: 5px;
    margin-bottom: 16px;
}
.venue-btns:hover{
    border: 2px solid #fff;
}

/* Hotels Details */

.bg-skyblue{
    background-color: #e3f2ff;
}
.bg-light-orange{
    background-color: #fff4e3;
}

/* Attractions Details */

.attractions-details-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}

/* Business Speakers Details */

.speaker-name:after {
    content: '';
    position: absolute;
    top: 65px;
    width: 0;
    height: 0;
    border-top: 20px solid #784d98;
    border-right: 20px solid transparent;
    right: 7%;
}
.speakers-list li {
    background: url(../images/flower-icon1.png) no-repeat scroll left 3px;
    padding-left: 35px;
    padding-bottom: 6px;
}
.speakers-details-height {
    height: 148px;
    overflow: hidden;
}
.speakers-more-details {
    padding: 0px 16px;
    display: block;
    margin-top: 15px;
    text-align: right;
    color: #3a226e;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-bottom: 3px;
    font-size: 16px;
}

.signin-btn:focus{
    outline: none;
    box-shadow: none;
}

/* Carosel */

.carosel li {
    border-radius: 2px !important;
    background: rgba(185, 190, 199, 0.5) !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}
.carosel .active {
    background: #7b68ee !important;
}
.carosel {
    background: #fbfbfb;
    bottom: -10px;
    padding: 10px !important;
    margin-left: 43%;
    margin-right: 43%;
}
.carosel.invitees-carosel li {
    background: rgb(255 255 255) !important;
}
.carosel.invitees-carosel .active {
    background: #fff !important;
}
.invitees-carosel {
    background: #60054c !important;
    margin-left: 41%;
    margin-right: 41%;
}
.carosel_view-all-btn {
    /*background: #7b68ee;
    border-radius: 4px;
    box-shadow: 0 10px 25px rgb(123 104 238 / 50%);*/
    color: #784d98;
    padding: 10px 15px;
    position: relative;
    top: -13px;
    left: -25px;
}
.carosel_view-all-btn:hover {
    color: #784d98;
}

.carosel_slider-btn {
    background: #fafbfc;
    max-width: -webkit-fit-content;
    max-width: fit-content;
    max-width: -moz-fit-content;
    padding: 0 20px;
    margin-left: 34px;
    position: relative;
    right: 0;
    bottom: 0;
}
.carosel-control-prev-icon {
    background: url(../images/arrow-left.png) no-repeat center/16px, #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e9ebf0;
}
.carosel-control-next-icon {
    background: url(../images/arrow-right.png) no-repeat center/16px, #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e9ebf0;
}
.carousel-control-prev {
    left: auto;
    right: 15px !important;
}

.carousel-control-next {
    right: -50px;
}
.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 100%;
    width: auto;
    opacity: 1;
}
.carosel-inner:before {
    content: "";
    position: absolute;
    width: 78%;
    height: 100%;
    border-bottom: 2px solid #e9ebf0;
    left: 130px;
    right: 130px;
}


.mobile-location-bg {
    background: #dc3545;
}
.mobile-header-bg{
    background: #ff9900;
}

footer{
    background: #050a30;
    color: #fff;
}
footer h5:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: red;
    opacity: 0.2;
    left: -11px;
    top: -11px;
}
footer .registration-block{
    padding: 35px 20px;
    border-right: 1px solid #131a4f;
}
footer .leadership-block{
    padding: 30px 20px;
}
footer ul li {
    padding-bottom: 10px;
    font-size: 16px;
}
footer ul li a {
    color: #a19c9c;
}
footer ul li a:hover {
    color: #a19c9c;
    text-decoration: none;
}
.copy-right-section{
    background: #050a30;
    border-top: 1px solid #131a4f;
    padding: 35px 10px;
}
.copy-right-section{
    color: #fff;
    font-size: 16px;
}
@media (min-width: 992px){
    .col-lg-20 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-lg-18 {
        -ms-flex: 0 0 18% !important;
        flex: 0 0 18% !important;
        max-width: 18% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .py-lg-50{
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .py-lg-12{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .mt_lg_-3{
        margin-top: -3px;
    }
    .mt-lg-90{
        margin-top: 90px !important;
    }
    .leadership-bg {
        background-image: url(../images/leadership-bg-2.png);
        background-repeat: no-repeat;
        position: relative;
        height: 500px;
    }
    .leadership-bg-top{
        position: relative;
        margin-top: -87px;
    }
}
@media (max-width: 991px){
    .president-message:before {
        top: 20px;
    }
    .chairman-message:before {
        top: 20px;
    }
    .convenor-message:before {
        top: 20px;
    }
    .co-convenor-message:before {
        top: 20px;
    }
    .co-convenor-message1:before {
        top: 20px;
    }
    .secretary-message:before {
        top: 20px;
    }
    .phone-stiff {
        display: none;
    }
}

@media (max-width: 768px){
    .mobile-location{
        font-size: 15px;
        text-align: center;
        color: #fff;
        font-weight: bold;
    }
    .donors-heading-lg-left {
        left: 11px;
    }
    .menuu-text {
        position: relative;
        top: -6px;
        color: #050A30;
        padding-left: 8px;
    }
    .web-name-font {
        font-size: 26px;
    }
    .banner-carousel-prev, .banner-carousel-next {
        top: 75%;
    }   
    .logo-size-responsive{
        width: 60px;
    }
    .sticky.is-sticky {
        left: 0px;
    }
    .carosel {
        background: #fbfbfb;
        bottom: -10px;
        padding: 10px !important;
        margin-left: 41%;
        margin-right: 38%;
    }
    .invitees-carosel {
        margin-left: 37% !important;
        margin-right: 35% !important;
    }
    .invitees-carosel {
        background: #60054c !important;
    }
    .carosel-inner:before {
        content: '';
        position: absolute;
        width: 64% !important;
        left: 135px !important;
        right: 135px !important;
    }
    .invitees-carosel-inner:before {
        content: "";
        position: absolute;
        width: 51% !important;
        height: 100%;
        border-bottom: 2px solid #e9ebf0;
        left: 136px !important;
        right: 136px !important;
    }
    .fs-md-18{
        font-size: 18px;
    }
    .messages-bg{
        background: linear-gradient(47deg,#110a27,#4c2252);
    }
    .msg_bg:after {
        right: 2.7rem;
    }
    .leadership-navbar-right-arrow{
        display: none;
    }
    .leadership-tabs-ul, .invitees-tabs-ul, .donors-tabs-ul{
        display: -webkit-box;
        overflow-x: auto;
    }
    .leadership-tabs-ul::-webkit-scrollbar, .invitees-tabs-ul::-webkit-scrollbar, .donors-tabs-ul::-webkit-scrollbar{
        display: none;
    }
    .leadership-tabs-ul, .invitees-tabs-ul, .donors-tabs-ul{
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .leadership-nav-item, .invitees-nav-item, .donors-nav-item{
        padding-right: 40px;
    }
    canvas {
        top: 65%;
    }
    .border-right-md-0{
        border-right: 0px !important;
    }

    .donor-image-height{
        height: auto;
    }   

    .leadership-bg {
        background: linear-gradient(47deg,#131337,#2e2e7e);
        padding-bottom: 50px;
        left: 0px;
    }
    .event-details:hover .event-date1, .event-details:hover .event-date2, .event-details:hover .event-date3, .event-details:hover .event-date4, .event-details:hover .event-date5 {
        position: absolute;
        top: 109px;
    }
    .ed-card1 .event-time, .ed-card1 .event-km {
        height: 59px;
        font-size: 12px;
        line-height: 20px;
    }
    .ed-card2 .event-time, .ed-card2 .event-km {
        height: 59px;
        font-size: 12px;
        line-height: 20px;
    }
    .ed-card3 .event-time, .ed-card3 .event-km {
        height: 59px;
        font-size: 12px;
        line-height: 20px;
    }
    .ed-card4 .event-time, .ed-card4 .event-km {
        height: 59px;
        font-size: 12px;
        line-height: 20px;
    }
    .ed-card5 .event-time, .ed-card5 .event-km {
        height: 59px;
        font-size: 12px;
        line-height: 20px;
    }

    /*.leader-block {
    height: 100px;
    }*/

    .donor-mage-height {
        height: auto; 
    }

    .counter-block {
        width: 30% !important;
    }
    .counter-width {
        width: 85% !important;
    }
    .dob-input {
        width: 200px !important;
        display: inline-block;
    }
}

@media (max-width:  767px){
    .web-name-font {
        font-size: 21px;
    }
    .px-sm-20{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .px-sm-30{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .horizontal-scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .horizontal-scroll::-webkit-scrollbar {
        display: none;
    }
    .horizontal-scroll {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .event-details:hover .event-date1, .event-details:hover .event-date2, .event-details:hover .event-date3, .event-details:hover .event-date4, .event-details:hover .event-date5 {
        position: absolute;
        top: 254px;
    }
    .event-details:hover .event-time-n-kn {
        position: relative;
        top: 111px;
        z-index: 1;
        margin-bottom: 115px;
    }
    .counter-block {
        width: 45% !important;
    }
    .counter-width {
        width: 86% !important;
    }

    .mobile-events-tabslist{
        border: #e2e2e2 1px solid;
        background-color: #f7f7f7;
        text-align: center;
        padding: 10px;
    }
    .mobile-events-tabslist a{
        color: #000;
        font-size: 15px;
    }
    .event_active_tab_btn {
        background: none !important;
        color: #000 !important;
    }
    .card-header a::after {
        background-image: none;
    }
    .card-header a[aria-expanded="true"]::after {
        background-image: none;
    }
    .invitees-navbar-right-arrow{
        display: none;
    }
    .invitees-tabs-ul{
        display: -webkit-box;
        overflow-x: auto;
    }

    footer .registration-block {
        border-right: 0px solid #2f3f71;
    }
}
@media (max-width: 640px){
    ol.carousel-indicators.donorss-indicators{
        margin-left: 0px;
        margin-right: 0px;
    }
    .leader-block, .invitees-block, .donors-block {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mobile-location{
        font-size: 15px;
    }
    .carosel-inner:before {
        content: '';
        position: absolute;
        width: 52% !important;
    }
    .carosel-control-prev-icon {
        background: url(../images/arrow-left.png) no-repeat center/16px, #fff !important;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid #e9ebf0;
    }
    .carosel-control-next-icon {
        background: url(../images/arrow-right.png) no-repeat center/16px, #fff !important;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid #e9ebf0;
    }
    .fs-sm-15{
        font-size: 15px !important;
    }
    .mobile-l-h20 {
        line-height: 20px;
    }
    .mobile-p10 {
        padding: 10px;
    }
    .leadership-heading-bottom {
        padding-bottom: 20px !important;
    }
    .leadership-bg-top{
        position: relative;
        margin-top: -15px;
    }
    .invitees-left-spacing {
        position: relative;
        left: 0px;
    }
    .speaker-name:after{
        display: none!important;
        visibility: hidden!important;
    }
}
@media (max-width: 576px){
    .banner-carousel-prev, .banner-carousel-next {
        top: 63%;
    }
    .banner-carousel-prev {
        right: 60px !important;
    }
    .banner-carousel-next {
        right: 30px !important;
    }
    .banner-carousel-prev i, .banner-carousel-next i {
        font-size: 25px;
    }
    .banner-carousel-prev, .banner-carousel-next {
        padding: 5px;
    }
    .donors-heading-lg-left, .donors-heading-lg-right{
        top: 15px;
        left: 10px;
    }
    .mobile-location{
        font-size: 11px;
    }
    .web-name-font {
        color: #fff;
        font-size: 12px;
        text-shadow: none;
        -webkit-text-stroke: 0px;
    }
    .logo-size-responsive{
        width: 40px;
    }
    .carosel {
        background: transparent !important;
        bottom: 30px !important;
        padding: 10px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }   
    .fs-xs-11{
        font-size: 11px;
    }
    .fs-xs-12{
        font-size: 12px;
    }
    .fs-xs-15{
        font-size: 15px;
    }
    canvas {
        top: 100%;
    }
    .main-heading div{
        top: -58px;
        font-size: 18px;
    }
    .invites-mem-name-n-designation {
        width: auto;
    }
    .leadership-bg{
        background: linear-gradient(47deg,#131335,#2b2b77);
        padding-bottom: 50px;
        left: 0px;
    }
    .event-details:hover .event-date1, .event-details:hover .event-date2, .event-details:hover .event-date3, .event-details:hover .event-date4, .event-details:hover .event-date5 {
        position: absolute;
        top: 164px;
    }
    .event-details:hover .event-time-n-kn {
        position: relative;
        top: 130px;
        z-index: 1;
        margin-bottom: 130px;
    }
    .ed-card1 .event-time, .ed-card1 .event-km {
        height: 59px;
        font-size: 10px;
        line-height: 20px;
    }
    .ed-card2 .event-time, .ed-card2 .event-km {
        height: 59px;
        font-size: 10px;
        line-height: 20px;
    }
    .ed-card3 .event-time, .ed-card3 .event-km {
        height: 59px;
        font-size: 10px;
        line-height: 20px;
    }
    .ed-card4 .event-time, .ed-card4 .event-km {
        height: 59px;
        font-size: 10px;
        line-height: 20px;
    }
    .ed-card5 .event-time, .ed-card5 .event-km {
        height: 59px;
        font-size: 10px;
        line-height: 20px;
    }
    .leader-block {
        margin-left: 15px;
        margin-right: 15px;
    }
    .counter-block {
        margin-right: 0px; 
        margin-left: 0px; 
        width: 100% !important;
    }
    .counter-width {
        width: 91% !important;
    }
    .captcha-img {
        width: 75px;
        height: 33px;
    }
    #payment_type-error{
        top: 45px;
    }
    .dob-input{
        width: 174px !important;
        display: inline-block;
    }
    footer .leadership-block {
        padding: 0px 20px 30px 20px;
    }
}

@media (max-width: 420px){
    .event-details:hover .event-date1, .event-details:hover .event-date2, .event-details:hover .event-date3, .event-details:hover .event-date4, .event-details:hover .event-date5 {
        position: absolute;
        top: 176px;
    }
    .carosel-inner:before{
        border-bottom: 0px solid #e9ebf0 !important;
    }
    .carosel-control-prev-icon {
        background: url(../images/arrow-left.png) no-repeat center/16px, #fff !important;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid #e9ebf0;
    }
    .carosel-control-next-icon {
        background: url(../images/arrow-right.png) no-repeat center/16px, #fff !important;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid #e9ebf0;
    }
    .carousel-control-prev {
        left: auto !important;
        right: 0px !important;
    }
    .carousel-control-next {
        right: -45px !important;
    }
    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 100% !important;
    }
}

@media (max-width: 360px){
    .event-details:hover .event-date1, .event-details:hover .event-date2, .event-details:hover .event-date3, .event-details:hover .event-date4, .event-details:hover .event-date5 {
        position: absolute;
        top: 148px;
    }
}

@media (max-width: 320px){
    .mobile-location{
        font-size: 9px;
        text-align: center;
        color: #fff;
    }
    .web-name-font {
        font-size: 11px;
    }
    .fs-xss-10{
        font-size: 10px !important;
    }
    .fs-xss-12{
        font-size: 12px !important;
    }
    .fs-xss-15{
        font-size: 15px !important;
    }
    .event-details:hover .event-date1, .event-details:hover .event-date2, .event-details:hover .event-date3, .event-details:hover .event-date4, .event-details:hover .event-date5 {
        position: absolute;
        top: 130px;
    }
    .main-heading div {
        top: -58px;
        font-size: 15px;
    }
    .captcha-img {
        width: 60px;
        height: 33px;
    }
    .dob-input {
        width: 127px !important;
    }
}

@media (max-width: 280px){
    .event-details:hover .event-date1, .event-details:hover .event-date2, .event-details:hover .event-date3, .event-details:hover .event-date4, .event-details:hover .event-date5 {
        position: absolute;
        top: 100px;
    }
}

@media (min-width: 768px){
    .col-md-30 {
        -ms-flex: 0 0 30.333333% !important;
        flex: 0 0 30.333333% !important;
        max-width: 30.333333% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
@media (max-width: 576px){

}