.show-neighbors {
  overflow: hidden;
}
.show-neighbors .item__third:first-child, .show-neighbors .item__third:last-child {
  display: none;
}
.carousel-control-prev {
    left: 0px !important;
}
.carousel-control-next {
    right: 0px !important;
}
.fs50{
  font-size: 50px;
}
.carousel-control-prev-icon {
     background-image: none;
}
.carousel-control-next-icon {
     background-image: none;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: -25%;
    width: auto;
    opacity: 1;
}

@media (min-width: 992px) {
    .carousel-control-next, .carousel-control-prev {
      position: absolute;
      top: -35% !important;
  }

  .carousel-control-next, .carousel-control-prev {
    font-size: 50px;
  }
}

@media (max-width: 768px){
  .carousel-control-next, .carousel-control-prev {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .carousel-control-next, .carousel-control-prev {
      position: absolute;
      top: -55%;
  }
  .show-neighbors .carousel-indicators {
    margin-right: 25%;
    margin-left: 25%;
  }
  .show-neighbors .carousel-control-prev, .show-neighbors .carousel-control-next {
    background: rgba(255, 255, 255, 0.2);
    width: 25%;
    z-index: 11;
    /* .carousel-caption has z-index 10 */
  }
  .show-neighbors .carousel-inner {
    width: 150%;
    left: -25%;
  }
  .show-neighbors .carousel-item-next:not(.carousel-item-left), .show-neighbors .carousel-item-right.active {
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
  }
  .show-neighbors .carousel-item-prev:not(.carousel-item-right), .show-neighbors .carousel-item-left.active {
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
  }
  .show-neighbors .item__third {
    display: block !important;
    float: left;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    width: 33.33333333%;
    border-right: 2px solid #050a30;
  }
}

@media (max-width: 767px){
  .carousel-control-next, .carousel-control-prev {
      font-size: 40px;
  }
  .show-neighbors .carousel-indicators {
    margin-right: 25%;
    margin-left: 25%;
  }
  .show-neighbors .carousel-control-prev, .show-neighbors .carousel-control-next {
    background: rgba(255, 255, 255, 0.2);
    width: 25%;
    z-index: 11;
    /* .carousel-caption has z-index 10 */
  }
  .show-neighbors .carousel-inner {
    width: 150%;
    left: -25%;
  }
  .show-neighbors .carousel-item-next:not(.carousel-item-left), .show-neighbors .carousel-item-right.active {
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
  }
  .show-neighbors .carousel-item-prev:not(.carousel-item-right), .show-neighbors .carousel-item-left.active {
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
  }
  .show-neighbors .item__third {
    display: block !important;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33333333%;
    border-right: 1px solid #050a30;
  }
  .item__third h5{
    font-size: 8px !important;
  }
  .carousel-control-next, .carousel-control-prev {
    top: -37% !important;
  }
}
@media (max-width: 640px){
  
}
@media (max-width: 576px){
  .carousel-control-next, .carousel-control-prev {
      font-size: 17px;
  }
}

